<template>
    <div class="component">
        <div class="uploader">
            <input style="display: none" type="file" @change="onFileSelected" ref="fileInput">
            <p v-if="progressBar" class="progress">{{ progressBar }}</p>
            <p v-if="feedback" class="feedback">{{ feedback }}</p>
            <button @click="$refs.fileInput.click()">Pick File</button>
            <button @click="onUpload">Upload</button>
        </div>
        <div class="files">
            <button @click="onDownload">Get files</button>
            <div class="img">
                <img :src="image" alt="" v-for="(image, index) in images" :key="index"/>
            </div>
        </div>
</div>
</template>

<script>
//import axios from 'axios'
import firebase from '@/firebase/init'
export default {
    name: 'Uploader',
    data() {
        return {
            selectedFile: null,
            progressBar: null,
            feedback: null,
            metadata: null,
            images: []
        }
    },
    methods: {
        onFileSelected(event) {
            this.selectedFile = event.target.files[0]
            this.metadata = this.selectedFile.metadata
        },
        onUpload() {
            let storageRef = firebase.storage().ref()
            console.log(storageRef)
            let filesRef = storageRef.child('files/' + this.selectedFile.name);
            filesRef.put(this.selectedFile).then(snapshot => {
                let progress = (snapshot.bytesTransferred / snapshot.totalBytes) * 100;
                this.feedback = 'Upload is ' + progress + '% done'
                console.log(this.feedback);
                snapshot.ref.getDownloadURL().then(downloadURL => {
                    this.images.push(downloadURL)
                    console.log('File available at', downloadURL)
                });
            });

            /** VERSION GOOGLE DOCUMENTATION */

            // // Upload file and metadata to the object 'images/mountains.jpg'
            // let uploadTask = storageRef.child('files/' + this.selectedFile.name).put(this.selectedFile, this.metadata);
            // console.log(firebase.storage())

            // // Listen for state changes, errors, and completion of the upload.
            // uploadTask.on(firebase.storage().TaskEvent.STATE_CHANGED, snapshot => {
            //     // Get task progress, including the number of bytes uploaded and the total number of bytes to be uploaded
            //     let progress = (snapshot.bytesTransferred / snapshot.totalBytes) * 100;
            //     this.feedback = progress + '%'
            //     console.log('Upload is ' + progress + '% done');
            //     switch (snapshot.state) {
            //         case firebase.storage().TaskState.PAUSED: // or 'paused'
            //             console.log('Upload is paused');
            //             break;
            //         case firebase.storage().TaskState.RUNNING: // or 'running'
            //             console.log('Upload is running');
            //             break;
            //     }
            // }, err => {
            //     console.log(err)
            // }, () => {
            //     // Upload completed successfully, now we can get the download URL
            //     uploadTask.snapshot.ref.getDownloadURL().then(function(downloadURL) {
            //         console.log('File available at', downloadURL);
            //     });
            // });

            /** END VERSION GOOGLE DOCUMENTATION */
        },
        onDownload() {
            let storageRef = firebase.storage().ref()
            storageRef.child('files/' + 'marmotte.png').getDownloadURL().then(url => {
                // `url` is the download URL for 'images/stars.jpg'

                // This can be downloaded directly:
                let xhr = new XMLHttpRequest();
                xhr.responseType = 'blob';
                xhr.onload = event => {
                    let blob = xhr.response;
                };
                xhr.open('GET', url);
                xhr.send();

                console.log(url)
                this.images.push(url)
            }).catch(error => {
                console.log(error)
            });
        }
    }
}
</script>

<style>
.progress, .feedback {
    font-size: 0.8em;
    color: grey;
}
</style>
